.App {
  padding: 20px;
}

.btn-login {
  border-radius: 0;
}

html, body, #root, #app-root {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  visibility: hidden;
}

#login-container {
}
